<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <div th:if="${jobs} and ${jobs.size()}">
        <table>
            <tr th:each="job : ${jobs}">
                <td>
                    <div th:each="element : ${job.keySet()}"
                         th:text="${element + ': ' + job.get(element)}">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- TODO #3 - Use the same list display from search.html -->
    href="@{/search/results(searchTerm=${job})}"

</div>

</body>
</html>