<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <div th:if="${jobs} and ${jobs.size()}">
        <table>
            <tr th:each="job, idx: ${jobs}" th:class="${idx.odd} ? 'odd'">
                <td><a th:href="@{/search/results(searchTerm=${job})}" th:text="${job}"></a></td>
            </tr>
        </table>
    </div>
    <!-- TODO #3 - Use the same list display from search.html -->

</div>

</body>
</html>